@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color:#E1E2E6
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(images/bg.jpg);
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;    
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.logo {
    color: #FFFDFC;
    font-size: 25px;
    font-weight: 800;
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #FFFDFC;
    display: block;
    font-weight: 600;
}

.menu .navbar ul li a:hover {
    color: #CE967B;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.header-content {
    text-align: center;
}

.header-content h2 {
    font-size: 21px;
    line-height: 80px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-bottom: 35px;
}

.header-content p {
    font-size: 16px;
    color: #C5C5C5;
    padding: 0px 250px;
    margin-bottom: 25px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 35px;
    background-color: #CE967B;
    color: #F9FAFC;
    text-transform: uppercase;
}

.btn-1:hover {
    background-color: #EBAD8D;
}

.carta {
    padding: 100px 0;
    background-color: #E1E2E6;
    position: relative;
}

.carta-content {
    text-align: center;
}

.carta-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    padding: 0 250px;
    margin-bottom: 15px;
}

.txt-p {
    font-size: 16px;
    color: #414247;
    padding: 0 250px;
    margin-bottom: 35px;
}

.carta-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.carta-1 {
    padding: 0 25px;
}

.carta-1 img {
    width: 200px;
}

.carta-img {
    position: absolute;
    top: 0;
    right: 0;
}

.carta-1 h3 {
    color: #323337;
    font-size: 20px;
    margin-bottom: 15px;
}

.services {
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(images/bg2.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        padding: 100px 0;
}

.services-content {
    text-align: center;
}

.services-content h2 {
    font-size: 55px;
    line-height: 70px;
    color: #F9FAFC;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.services-content p {
    font-size: 16px;
    color: #C5C5C5;
    margin-bottom: 50px;
    padding: 0 100px;
}

.services-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.services-1 {
    padding: 0 100px;
}

.services-1 img {
    width: 25%;
    margin-bottom: 15px;
}

.services-1 h3 {
    color: #EACCB3;
    font-size: 18px;
}

.general {
    display: flex;
}

.general-1 {
    width: 50%;
    padding: 100px 250px 100px 100px;
    background-color: #E1E2E6;
}

.general-2 {
    background-image: url(images/coffe-1.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

.general-3 {
    background-image: url(images/coffee-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 50%;
}

h2 {
    font-size: 55px;
    line-height: 70px;
    color: #323337;
    text-transform: uppercase;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    color: #414247;
    margin: 25px 0 45px 0;
}

.form-contact {
    background: #FFF;
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 7px 13px 37px rgba(0, 0, 0, .8);
  }
  
  header {
    width: 100%;
    background: #CE967B;
    overflow: hidden;
    color: white;
  }
  
  header span {
    font-size: 100px;
    display: block;
    text-align: center;
    padding: 2.5rem;
  }
  
  .contact {
    padding: .8rem;
    overflow: hidden;
    color: gray;
  }
  
  .contact label, .contact input, .contact textarea {
    display: block;
    width: 100%;
    margin-bottom: 5px;   
  }
  
  .contact label {
    font-weight: 700;
  }
  
  .contact input:not([type='submit']), .contact textarea {
    border: none;
    border-bottom: 2px solid #CE967B;
    margin-bottom: 10px;
    font-size: 20px;
    outline: none;
    color: gray;
  }
  
  .contact textarea {
    min-height: 100px;
  }
  
  input[type='submit'] {
    padding: 10px;
    background: #CE967B;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
  
  }

  /* Carta */

.carta01 {
    padding: 80px 0;
    background-color: #E1E2E6;
    position: relative;
}

.carta02 {
    padding: 80px 0;
    background-color: #E1E2E6;
    position: relative;
}

.carta03 {
    padding: 80px 0;
    background-color: #E1E2E6;
    position: relative;
}

.desa-box {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #E1E2E6;
    padding: 50px 0;
    flex-wrap: wrap;
}

.desa-box .foto {
    width: 280px;
    margin: 20px;
}

.desa-box .foto-image {
    width: 100%;
    height: 280px;
    overflow: hidden;
}

.desa-box .foto-image img:hover {
    transform: scale(1.1);
    transition: transform .4s ease-in-out;
}

.desa-box .foto-body {
    padding: 20px;
    color: #414247;
    border: 3px solid #E1E2E6;
}

.desa-box .foto-body h3 {
    padding: 10px 0;
    
}

.desa-box .foto-body .cash {
    font-size: 20px;
    margin-left: 60px;
}

.blog {
    padding: 100px 0;
    text-align: center;
}

.blog-content {
    display: flex;
    justify-content: space-between;
}

.blog-1 {
    padding: 15px 55px;
}
.blog-1 img {
    width: 250px;
    border-radius: 15px;
    margin-bottom: 15px;
}

.blog-1 h3 {
    font-size: 25px;
    color: #323337;
}

.footer {
    padding: 100px 0;
    background-color: #000000;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.link h3 {
    font-size: 18px;
    color: #F9FAFC;
    margin-bottom: 15px;
}
.link a {
    font-size: 16px;
    color: #C5C5C5;
    display: block;
    margin-bottom: 15px;
}

.whatsapp-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #25d366;
    color: #fff;
    padding: 10px 15px;
    border-radius: 50px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}

.whatsapp-button a {
    text-decoration: none;
    color: #fff;
}

.whatsapp-button img {
    vertical-align: middle;
    margin-right: 10px;
}

/*carrousel*/

.container-carousel {
    position: relative;
    width: 800%;
    max-width: 1000px;
    height: 100vh;
    margin: 0 auto;
    background-color: #FFFDFC;
    border-radius: 15px;
    overflow: hidden;
    margin-top: 60px;
    background-color:#E1E2E6
  
}

.carruseles {
    width: 1200%;
    height: 100%;
    display: flex;
    transition: transform 0.5s;

}

.slider-section {
    width: 100%;
    height: 100vh;
}

.slider-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.btn-left,
.btn-right {
    display: flex;
    position: absolute;
    top: 50%;
    font-size: 2rem;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    color: #CE967B;
    transform: translate(0, -50%);
    user-select: none;
    z-index: 1;
    transition: color 0.5s ease;
    font-weight: 900;
}


.btn-left {
    left: 10px;
}

.btn-right {
    right: 10px;
}
.btn-left:before {
    content: "\2190"; 
}

.btn-right:before {
    content: "\2192"; 
}

.btn-left:hover,
.btn-right:hover {
    background-color: #B77D5B;
}


@media(max-width:990px) {

    .menu {
        padding: 30px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #323337;
        display: none;
    }

    .menu .navbar ul li {
        width: 100%;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 100px 30px;
    }

    .header-content p {
        padding: 0;
    }

    .carta {
        padding: 30px;
    }

    .carta-content h2 {
        padding: 0;
    }

    .txt-p {
        padding: 0;
    }

    .carta-group {
        flex-direction: column;
        margin-bottom: 0;
    }
    
    .carta-img {
        display: none;
    }

    .services {
        padding: 30px;
    }

    .services-content p {
        padding: 0;
    }

    .services-group {
        flex-direction: column;
        margin-bottom: 0;
    }

    .services-1 {
        margin-bottom: 25px;
    }

    .general {
        flex-direction: column;
    }

    .general-1 {
        width: 100%;
        padding: 30px;
        text-align: center;
    }

    .general-2, .general-3 {
        display: none;
    }

    .blog {
        padding: 30px;
    }

    .blog-content {
        flex-direction: column;
    }

    .blog-1 {
        padding: 0;
    }

    .footer {
        padding: 30px;
    }

    .footer-content {
        flex-direction: column;
        text-align: center;
    }
    .slider-section img {
        max-width: 66%;
        height: auto;
    }
    .btn-left, .btn-right {
        font-size: 1.5rem;
        padding: 5px;
    }
}